// Define variables for common background positions
$bg-position-both-dark: -63px 0;
$bg-position-both-light: -42px 0;
$bg-position-buy-dark: -231px 0;
$bg-position-buy-light: -210px 0;
$bg-position-ask-dark: -147px 0;
$bg-position-ask-light: -126px 0;

// Selected state adjustments
$bg-selected-both-dark: -21px 0;
$bg-selected-buy-dark: -190px 0;
$bg-selected-ask-dark: -106px 0;
$bg-selected-both-light: -63px 0;
$bg-selected-buy-light: -232px 0;
$bg-selected-ask-light: -148px 0;
.toggle-button-wrap {
  button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0 8px 0 0;
    text-indent: -9999px;
    background: url("@/assets/images/trade/icon-orderbook.png") no-repeat;
    background-color: transparent;
    background-size: 251px 20px;
    border: none;
    border-radius: 0;
  }
}
.theme-dark {
  .toggle-button-wrap {
    .toggle-button-both {
      background-position: $bg-position-both-dark;
      &:global(.Mui-selected) {
        background-position: $bg-selected-both-dark;
      }
    }
    .toggle-button-buy {
      background-position: $bg-position-buy-dark;
      &:global(.Mui-selected) {
        background-position: $bg-selected-buy-dark;
      }
    }
    .toggle-button-ask {
      background-position: $bg-position-ask-dark;
      &:global(.Mui-selected) {
        background-position: $bg-selected-ask-dark;
      }
    }
  }
}
.theme-light {
  .toggle-button-wrap {
    .toggle-button-both {
      background-position: $bg-position-both-light;
      &:global(.Mui-selected) {
        background-position: $bg-selected-both-light;
      }
    }
    .toggle-button-buy {
      background-position: $bg-position-buy-light;
      &:global(.Mui-selected) {
        background-position: $bg-selected-buy-light;
      }
    }
    .toggle-button-ask {
      background-position: $bg-position-ask-light;
      &:global(.Mui-selected) {
        background-position: $bg-selected-ask-light;
      }
    }
  }
}
.orderbook-table-body {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  overflow: hidden;
}
.orderbook-list-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  &.orderbook-list-wrapper-ask {
    flex-direction: column-reverse;
    .orderbook-list-item .orderbook-list-item-text:first-child {
      color: var(--rate-red);
      text-align: left;
    }
    .orderbook-list-item-bar {
      background-color: rgb(245 108 108 / 20%);
    }
  }
  &.orderbook-list-wrapper-bid {
    .orderbook-list-item .orderbook-list-item-text:first-child {
      color: var(--rate-green);
      text-align: left;
    }
    .orderbook-list-item-bar {
      background-color: rgb(33 195 135 / 20%);
    }
  }
}
.orderbook-list-box {
  padding: 0;
  .orderbook-list-item-bar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
  }
}
.orderbook-list-item-text {
  flex: 1 1;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
}
