// Define variables for common background positions
$bg-position-both-dark: -63px 0;
$bg-position-both-light: -42px 0;
$bg-position-buy-dark: -231px 0;
$bg-position-buy-light: -210px 0;
$bg-position-sell-dark: -147px 0;
$bg-position-sell-light: -126px 0;

// Selected state adjustments
$bg-selected-both-dark: -21px 0;
$bg-selected-buy-dark: -190px 0;
$bg-selected-sell-dark: -106px 0;
$bg-selected-both-light: -63px 0;
$bg-selected-buy-light: -232px 0;
$bg-selected-sell-light: -148px 0;
.toggle-button-wrap {
  button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0 8px 0 0;
    text-indent: -9999px;
    background: url("@/assets/images/trade/icon-orderbook.png") no-repeat;
    background-color: transparent;
    background-size: 251px 20px;
    border: none;
    border-radius: 0;
  }
}
.theme-dark {
  .toggle-button-wrap {
    .toggle-button-both {
      background-position: $bg-position-both-dark;
      &:global(.Mui-selected) {
        background-position: $bg-selected-both-dark;
      }
    }
    .toggle-button-buy {
      background-position: $bg-position-buy-dark;
      &:global(.Mui-selected) {
        background-position: $bg-selected-buy-dark;
      }
    }
    .toggle-button-sell {
      background-position: $bg-position-sell-dark;
      &:global(.Mui-selected) {
        background-position: $bg-selected-sell-dark;
      }
    }
  }
}
.theme-light {
  .toggle-button-wrap {
    .toggle-button-both {
      background-position: $bg-position-both-light;
      &:global(.Mui-selected) {
        background-position: $bg-selected-both-light;
      }
    }
    .toggle-button-buy {
      background-position: $bg-position-buy-light;
      &:global(.Mui-selected) {
        background-position: $bg-selected-buy-light;
      }
    }
    .toggle-button-sell {
      background-position: $bg-position-sell-light;
      &:global(.Mui-selected) {
        background-position: $bg-selected-sell-light;
      }
    }
  }
}
