.tabs {
  border-bottom: 3px solid #ff8800;

  /* .tab {
    background: #f5f5f5;
    &:first-child {
      z-index: 99;
      background: blue;
    }
    &:nth-child(2) {
      z-index: 88;
    }
    &:first-child::after,
    &:nth-child(2)::before {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 24px;
      cursor: pointer;
      content: " ";
      border-radius: 16px;
    }
    &:first-child::after {
      right: -24px;
      z-index: 5;
      background: blue;
      transform: skewX(15deg);
    }
    &:nth-child(2)::before {
      left: -24px;
      z-index: 100;
      background: red;
      transform: skewX(-15deg);
    }
  } */
}
