.loader {
  width: 30px;
  aspect-ratio: 1;

  --c: no-repeat linear-gradient(var(--loader-color) 0 0);

  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: l1 1.2s infinite ease-in-out;
}

@keyframes l1 {
  0% {
    background-size:
      20% 50%,
      20% 50%,
      20% 50%;
  }
  33% {
    background-size:
      20% 100%,
      20% 50%,
      20% 50%;
  }
  50% {
    background-size:
      20% 50%,
      20% 100%,
      20% 50%;
  }
  66% {
    background-size:
      20% 50%,
      20% 50%,
      20% 100%;
  }
  100% {
    background-size:
      20% 50%,
      20% 50%,
      20% 50%;
  }
}
